<div fxLayoutAlign="center center" fxFlexFill class="background"
    style="background-image: url('https://img.wallpapersafari.com/desktop/1440/900/24/74/zgeTuV.jpg');">
    <div class="in-background">
        <div class="box">
            <div class="box-register">
                <div class="main-card">
                    <mat-card>
                        <mat-toolbar class="toolbar">Sign Up</mat-toolbar>
                        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" fxLayout="column" class="register-form">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="username" required>
                                <mat-error *ngIf="getUsername && getUsername.errors?.required">username require
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input type="text" matInput formControlName="email" required>
                                <mat-error *ngIf="getEmail && getEmail.errors?.required"> email required</mat-error>
                                <mat-error *ngIf="getEmail && getEmail.errors?.email && !getEmail.errors?.required">
                                    invalid email</mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput formControlName="password" required>
                                <mat-error *ngIf="getPassword && getPassword.errors?.required"> password required
                                </mat-error>
                            </mat-form-field><br>
                            <button mat-raised-button class="btn-register" type="submit">SUBMIT</button>
                            <p>or</p>
                            <button mat-raised-button class="btn-socail" type="submit">GOOGLE</button><br>
                            <button mat-raised-button class="btn-socail" type="submit">META</button>
                        </form>
                    </mat-card>
                </div>
            </div>
            <div class="box-text" fxLayoutAlign="center center">
                <div>
                    <button mat-raised-button (click)="goToLogin()" class="btn-login">Login</button>
                </div>
                <p class="text">Now!</p>
            </div>
        </div>
    </div>
</div>