.hold-box {
    margin: 16px 64px;
    /* background-color: gray; */
    height: auto;
    width: 90%;
  }
  
  .cover {
    width: 80%;
    /* background-color: aqua; */
    height: 250px;
    margin: 0 auto;
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    background-size: cover;
    border-radius: 10px;
  }
  .cover-btn {
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    float: right;
    margin: 10px;
    margin-top: 190px;
    border: 1px solid lightgray;
    color: white;
    background-color: #292e31;
  }
  .profile-btn {
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    float: left;
    margin-top: 5px;
    border: 1px solid lightgray;
    color: white;
    background-color: #292e31;
  }
  
  .inform {
    /* background-color: blue; */
    width: 80%;
    height: auto;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
  }
  .profile {
    width: 100%;
    /* background-color: aqua; */
    height: 280px;
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    background-size: cover;
    border-radius: 10px;
  }
  .profile-pic {
    width: 25%;
    height: 350px;
  }
  .group-input {
    width: 70%;
    /* background-color: blanchedalmond; */
    height: auto;
  }
  
  form {
    margin: 15px;
  }
  
  .full-width {
    width: 50%;
  }
  
  .desc-width {
    width: 70%;
  }
  
  .pickdate {
    border: 1px solid lightgray;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: white;
  }
  #date {
    padding: 10px;
    font-size: 15px;
    border: none;
  }
  
  .btn-submit {
    margin-top: 15px;
    font-size: 20px;
    padding: 15px;
    background-color: #ff5e00;
    color: white;
  }