<div class="hold-box">
    <!-- cover and profile -->
    <div class="cover" style="
        background-image: url('https://i.ytimg.com/vi/2SkMUjilx_M/maxresdefault.jpg');
        ">

        <label mat-button for="pic" class="cover-btn">
            Cover
            <input id="pic" type="file" style="display: none;">
        </label>
        <!-- <div class="profile" style="background-image: url('https://wallpaper.dog/large/20461256.jpg');">
        </div> -->
    </div>
    <!-- cover and profile -->
    <div class="inform">
        <div class="profile-pic">
            <div class="profile" style="background-image: url('https://wallpaper.dog/large/20461256.jpg');"></div>
            <label mat-raised-button for="pic" class="profile-btn">
                Profile
                <input id="pic" type="file" style="display: none;">
            </label>
        </div>
        <div class="group-input">
            <form [formGroup]="addMovie" (ngSubmit)="onSubmit()">
                <div class="title-input">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input type="text" formControlName="title" matInput required>
                        <mat-error *ngIf="getTitle && getTitle.errors?.required">title require</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field class="desc-width" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput></textarea>
                    <mat-error *ngIf="getDescription && getDescription.errors?.required">Description require</mat-error>
                </mat-form-field><br>
                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="Action">Action</mat-option>
                        <mat-option value="Camedy">Camedy</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="pickdate">
                    <label for="date">Release</label> <br>
                    <input id="date" formControlName="release" type="date">
                </div>
                <button type="submit" class="btn-submit" mat-raised-button>Submit</button>
            </form>
        </div>
    </div>
</div>