body {
    background-color:#0a1016;
}

mat-toolbar {
    background: #0a1016;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 250px;
    border-right: none;
    background: #292e31;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
}

.branch {
    font-size: 60px;
}

.content {
    /* height: calc(100vh - 98px); */
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* font-size: 2rem;
    color: lightgray; */
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 8px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

