<mat-toolbar class="mat-elevation-z8" style="background-color: #081118;">
  <!-- humberger menu -->
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <!-- humberger menu -->
  <span class="branch">
    <img class="logo" src="../../../assets/logo.png">
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8"
      src="https://ae01.alicdn.com/kf/H094dfb5b8b704f069c263c8778ef1e4cv/Vazrobe-Acetate-Glasses-Men-Women-Aviation-Vintage-Eyeglasses-Frames-Man-Female-Brand-Janpanese-Prescription-Spectacles-Tortoise.jpg" />

    <h4 class="name">Timeng Lun</h4>
    <p class="designation">Admin</p>

    <mat-divider></mat-divider>

    <button mat-button (click)="goToAdd()" class="menu-button">
      <mat-icon>add</mat-icon>
      <span>Add Movie</span>
    </button>
    <button mat-button (click)="goToManage()" class="menu-button">
      <mat-icon>engineering</mat-icon>
      <span>Movie Management</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>