
.movie-title{
  color: white;
  font-size: 35px;
  margin: 0;
  /*font-weight: bold;*/
  padding: 0 0 25px 0;
}
.movie-info-time{
  color: aqua;
  font-size: 18px;
  padding: 2px 3px;
}
.movie-info-year{
  color: white;
  font-size: 16px;
  background-color: orangered;
  padding: 3px 4px;
  border-radius: 5px;
}
.movie-info-rate{
  color: gold;
  font-size: 18px;
  padding: 2px 3px;
}
.movie-des{
  color: darkgray;
  font-size: 16px;
  line-height: 1.8;
}
.btn-watch{
  width: 100%;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  background-color: orangered;
  color: white;
  font-size: 18px;
  margin-top: 15px;
}
.btn-back{
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  padding: 15px 0 0 15px;
  position: sticky;
  top: 52px;

}
.image-round{
  border-radius: 7px;
}
