<div
  [ngStyle]="{background: 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('+coverImg+')', backgroundSize:'cover',
 backgroundPosition:'center', backgroundRepeat:'no-repeat',
 width: '100vw', height: '100vh'}"
  class="custom-background"
>
  <button class="btn-back" (click)="onBack()">Back</button>
  <div class="container d-flex justify-content-center">
    <!--    -------- section 1------->
    <div class="m-4" style="width:200px">
      <img class="image-round" [src]="movie.movieUrl" alt="movie_url" width="200px"/>
      <button class="btn-watch" (click)="onViewTrailer()">Watch Trailer</button>
    </div>
    <!--    -------- section 1------->
    <div style="width: 65%" class="m-4 p-1 pl-4 ">
      <p class="movie-title">{{movie.title}}</p>
      <div class="d-flex py2">
        <p class="movie-info-year mr-3">{{movie.releaseYear}}</p>
        <p class=" movie-info-time mr-3">{{movie.playTime}} minute</p>
        <p class="movie-info-rate mr-3">{{movie.rate}}</p>
      </div>
      <div class="movie-des">
        {{movie.description}}
      </div>
    </div>
  </div>
</div>
