/*--------- card style --------*/
.movie-card{
  width: 200px;
  background-color: #1a1a1a;
}
.movie-title{
  color: white;
  font-size: 18px;
  margin: 0;
}
.rating{
  padding: 0;
  margin: 0;
  color: gold;
  font-size: 17px;
}
.btnWatchlist{
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
}
.title-text{
  padding: 10px;
  padding-top: 30px;
  font-size: 35px;
  color: white;
}
