<div class="container">
  <h2 class="title-text">What to Watch</h2>
  <div class="d-flex flex-wrap" style="justify-content: space-evenly">
    <!--    -------card------------->
    <div class=" movie-card m-2" *ngFor="let m of movies">
      <a [routerLink]="'/view/'+m.id">
        <div class="card-image">
          <img [src]="m.movieUrl" alt="movie_url" width="200px"/>
        </div>
      </a>
      <div class="p-2">
        <div class="d-flex">
          <mat-icon class="rating">grade</mat-icon>
          <p class="ps-2 m-0 text-light">{{m.rate}}</p>
        </div>
        <p class="movie-title py-2">{{m.title}}</p>
        <button mat-raised-button class="btnWatchlist">Add to watchlist</button>
      </div>
    </div>
  </div>
</div>
