<div class="container">
  <h1 class="watchlist-title text-light py-2">Your Watchlist</h1>
  <!--  ---------card---------->
  <div class="watchlist-panel d-flex justify-content-between m-2" *ngFor="let m of movies">
    <a class="info-watchlist" [routerLink]="'/view/'+m.id">
      <div class="d-flex">
        <div>
          <img class="movie-img-url" src="assets/demo-movie-url.jpg" width="100px" alt="image"/>
        </div>
        <div class="watchlist-info-panel">
          <p class="movie-title py-2">{{m.title}}</p>
          <div class="d-flex">
            <mat-icon class="rating">grade</mat-icon>
            <p class="ps-2 m-0 text-light">{{m.rate}}</p>
          </div>
          <p class="text ">{{m.description}}</p>
        </div>
      </div>
    </a>
    <!--  ------ button -------->
    <div style="align-self: center" class="p-3">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
