.watchlist-panel{
  background-color: #292e31;
  border-radius: 10px;
}
.movie-img-url{
  border-radius: 10px;
}
.watchlist-info-panel{
  padding:5px 10px;
}
.movie-title{
  color: white;
  font-size: 18px;
  margin: 0;
}
.rating{
  padding: 0;
  margin: 0;
  color: gold;
  font-size: 17px;
}
.watchlist-title{
  position: sticky;
  top: 52px;
  background-color: #081118;
}
.info-watchlist{
  text-decoration: none;
}
.info-watchlist:hover{
  text-decoration: none;
  color: white;
}
.text{
  color: darkgray;
}

