.background {
  background-size: cover;
}
.in-background {
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
}
.box {
  background-color:rgba(0, 0, 0, 0.6);
  width: 50%;
  height: auto;
  margin: 12% auto;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.box-text {
  width: 50%;
  color: white;
}
.text {
  font-size: 25px;
}
.btn-register {
  background-color: #ff5e00;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.box-login {
  width: 50%;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.main-card mat-card {
  padding: 0;
}
.login-form {
  padding: 20px;
}
.btn-login {
  background-color: #ff5e00;
  color: white;
  padding: 5px;
  font-size: 20px;
}
.toolbar {
  background-color: #ff5e00;
  color: white;
  font-size: 30px;
}
.btn-socail {
  padding: 10px;
}
input{
    font-size: 25px;
}
mat-error {
  font-size: 15px;
}