<div fxLayoutAlign="center center" fxFlexFill class="background"
    style="background-image: url('https://img.wallpapersafari.com/desktop/1440/900/24/74/zgeTuV.jpg');">
    <div class="in-background">
        <div class="box">
            <div class="box-text" fxLayoutAlign="center center">
                <div>
                    <button mat-raised-button (click)="goToRegister()" class="btn-register">Sign Up</button>
                </div>
                <p class="text">Now!</p>
            </div>
            <div class="box-login">
                <div class="main-card">
                    <mat-card>
                        <mat-toolbar class="toolbar">Login</mat-toolbar>
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" fxLayout="column" class="login-form">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput formControlName="username" required>
                                <mat-error *ngIf="getUsername && getUsername.errors?.required">username require
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput formControlName="password" required>
                                <mat-error *ngIf="getUsername && getUsername.errors?.required">password require
                                </mat-error>
                            </mat-form-field><br>
                            <button mat-raised-button class="btn-login" type="submit">LOGIN</button>
                            <p>or</p>
                            <button mat-raised-button class="btn-socail" type="submit">GOOGLE</button><br>
                            <button mat-raised-button class="btn-socail" type="submit">META</button>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>