.main-background{
  /*width: 100%;*/
  /*height: 100%;*/
  min-width: 100vw;
  min-height: 100vh;
  background: #081118;
}
.example-spacer {
  flex: 1 1 auto;
}
.bg-custom{
  background-color: #292e31;
  border: solid 1px black;
  position: sticky;
  top:0;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

