<div class="main-background">
<!--  ------- user navbar ---------------->
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom p-0 ">
    <div class="container-fluid px-3">
      <a class="navbar-brand" [routerLink]="'/home'">
        <img src="assets/logo.png" alt="logo" height="40px"/>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button mat-button style="color: white" (click)="onHome()">Home</button>
        <button mat-button style="color: white" (click)="onAllMovies()">Movies</button>
        <button mat-button style="color: white" (click)="onWatchlist()">Watchlist</button>
        <small style="font-size: 2px" class="" [matBadge]="totalNumInWatchlist" matBadgeColor="warn" matBadgeOverlap="true"></small>
      </div>
      <div class="d-flex">
        <button mat-button style="color: white">{{lableLogin}}</button>
        <form class="d-flex" (submit)=false >
          <input style="width: 250px" class="form-control me-2" type="search" placeholder="Where to search Anything" aria-label="Search">
                <button style="color: white" mat-icon-button aria-label="Example icon button with a home icon">
                  <mat-icon>search</mat-icon>
                </button>
        </form>
      </div>
    </div>
  </nav>
<!-----------   body  --------------->
<!--  <app-homepage></app-homepage>-->
<!--  <app-allmovie></app-allmovie>-->
<!--  <app-watchlist></app-watchlist>-->
<!--  <app-viewdetail></app-viewdetail>-->
  <router-outlet></router-outlet>
</div>

