<div class="carousel-custom">
  <div class="container">
    <p class="home-title">Unlimited movies, TV shows, and more</p>
    <button class="button-explore" (click)="onExplore()">Explore</button>
  </div>
</div>
<div style="width: 90%; margin: auto">
  <div class="most-popular-layout my-2">
    <h2 class="title-text">Most Popular</h2>
    <div class="d-flex flex-wrap" style="justify-content: space-evenly">
      <!-- ----------card------------->
      <div class=" movie-card m-2" *ngFor="let m of movies">
        <a [routerLink]="'/view/'+m.id">
          <div class="card-image">
            <img [src]="m.movieUrl" alt="movie_url" width="200px"/>
          </div>
        </a>
        <div class="p-2">
          <div class="d-flex">
            <mat-icon class="rating">grade</mat-icon>
            <p class="ps-2 m-0 text-light">{{m.rate}}</p>
          </div>
          <p class="movie-title py-2">{{m.title}}</p>
          <button mat-raised-button class="btnWatchlist">Add to watchlist</button>
        </div>
      </div>
    </div>
  </div>
  <div class="recommendation-layout my-2">
    <h2 class="title-text">Recommendation</h2>
    <!--    -------card----------->
    <div>
      <div class="d-flex flex-wrap" style="justify-content: space-evenly">
        <div class=" movie-card2 m-2" *ngFor="let rcm of recommendMovie">
          <a [routerLink]="'/view/'+rcm.id">
            <div class="card-image">
              <img [src]="rcm.coverImgUrl" alt="movie_url" width="390px"/>
            </div>
          </a>
          <div class="p-2">
            <p class="movie-title py-2">{{rcm.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

