.carousel-custom {
  width: 100%;
  height: 400px;
  background-image: url("src/assets/carousel-homepage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-title{
  font-size: 60px;
  opacity: 0.7;
  color: white;
  padding: 100px 0 30px 0;
}
.button-explore{
  margin-top: 20px;
  padding: 15px 50px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background: none;
  border: solid 2px white;
  border-radius: 50px;
}
.button-explore:hover{
  color: black;
  background: white;
  border: solid 2px #ff5e00;
}
/*--------- card style --------*/
.movie-card{
  width: 200px;
  background-color: #1a1a1a;
}
.movie-title{
  color: white;
  font-size: 18px;
  margin: 0;
}
.rating{
  padding: 0;
  margin: 0;
  color: gold;
  font-size: 17px;
}
.btnWatchlist{
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
}
.title-text{
  padding: 10px;
  font-size: 30px;
  color: white;
  /*opacity: 0.7;*/
}
.movie-card2{
  width: 390px;
  background: none;
}
